body{

    margin: 0;
    padding: 0;
    font-family: sans-seref;
    /*background: #34495e;*/
    background-image: url(image/arcane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919af;
    text-align: center;
    border-radius: 10px;
}
.bx h1{
    color: white;
    font-weight: uppercase;
    font-weight: 100px;
}
h1{
    color: white;
    font-family: 'courier new', courier, monospace;

}

.box input[type = "text"],.box input[type ="password"]:focus{
   border:0;
   background: rgba(55, 57, 58, 0.673);
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3498db;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color:white ;
   border-radius: 24px;
   transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type ="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
 }  
 .box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color:white;
    border-radius: 20px;
    transition: 0.25;
    cursor: pointer;
 }
 .box input[type = "submit"]:hover{
    background-color: #6dcc2e;
 }

















